workflows
{
  "createdAt": "2025-10-29T10:12:54.938Z",
  "updatedAt": "2025-10-30T07:59:27.000Z",
  "id": "04lpbribHayqMSNf",
  "name": "Asistente de vacaciones",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "ccc81164-0787-488d-8b2a-780649e910ac",
      "name": "When chat message received",
      "webhookId": "ade94fd0-3069-4a9c-88f6-427d6435bf53"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=¨{{ $('When chat message received').item.json.chatInput }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres un asistente de vacaciones con mas de 30 años de experiencia en el sector que busca en google todas las url de la busqueda que te pieda por chat el usuario.\n\nSiempre contestaras unicamente el listado de URLS que venga de la herramienta API google."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        400,
        0
      ],
      "id": "d5433365-4de4-4818-ac17-b065c44245dc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        272,
        208
      ],
      "id": "6b765be4-0c4c-4c7f-a9f8-4adbba1bb0fb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mIhRAmBQtTEjmUoZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.chatInput }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        400,
        240
      ],
      "id": "6ec7455f-0785-41ee-9689-1938414602c3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1NWa7z2WNSW169q1BgddNTJ3ENNnJxkWzbyWOFvM5En0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NWa7z2WNSW169q1BgddNTJ3ENNnJxkWzbyWOFvM5En0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "BÚSQUEDA ": "={{ $json.chatInput }}"
          },
          "matchingColumns": [
            "BÚSQUEDA "
          ],
          "schema": [
            {
              "id": "BÚSQUEDA ",
              "displayName": "BÚSQUEDA ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RESPUESTA",
              "displayName": "RESPUESTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "b951aa37-76db-4475-991c-4bd9bed8abea",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uUNdce7zkautiU7j",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Esta tool busca en google usando los terminos que indica el usuario ",
        "url": "https://real-time-web-search.p.rapidapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "real-time-web-search.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "4b204ed048mshce36d7737a02bb6p15cbdfjsnf3d83aebe1fd"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        560,
        208
      ],
      "id": "a3173c6a-994f-42ff-bbb9-294ff2946502",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"Nombre\": \"Nombre de la web\",\n    \"URL\": \"https://mipaginaweb1.com\"\n  },\n  {\n    \"Nombre\": \"Nombre de la web\",\n    \"URL\": \"https://mipaginaweb2.com\"\n  },\n  {\n    \"Nombre\": \"Nombre de la web\",\n    \"URL\": \"https://mipaginaweb3.com\"\n  }\n]\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        672,
        240
      ],
      "id": "22aeaa20-305a-498b-b060-3c4079f4b46e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1NWa7z2WNSW169q1BgddNTJ3ENNnJxkWzbyWOFvM5En0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NWa7z2WNSW169q1BgddNTJ3ENNnJxkWzbyWOFvM5En0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "BÚSQUEDA ": "={{ $('Append or update row in sheet').item.json['BÚSQUEDA '] }}",
            "RESPUESTA": "={{ $json.output }}"
          },
          "matchingColumns": [
            "BÚSQUEDA "
          ],
          "schema": [
            {
              "id": "BÚSQUEDA ",
              "displayName": "BÚSQUEDA ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RESPUESTA",
              "displayName": "RESPUESTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1168,
        0
      ],
      "id": "3e49aacd-f177-479a-a0c4-6953d40c8afe",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uUNdce7zkautiU7j",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e2ac2d20-ed39-480f-accb-6a394c650f87",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-29T10:12:54.940Z",
      "updatedAt": "2025-10-29T10:12:54.940Z",
      "role": "workflow:owner",
      "workflowId": "04lpbribHayqMSNf",
      "projectId": "PmLBfGR96TQxq1fx"
    }
  ],
  "tags": []
}