workflows/8K2EhmqaYpOSFNZe.json
{
  "createdAt": "2025-10-28T09:03:52.531Z",
  "updatedAt": "2025-10-29T09:45:20.000Z",
  "id": "8K2EhmqaYpOSFNZe",
  "name": "My workflow 2",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -64
      ],
      "id": "057858be-c6ae-4135-bf37-d02495b1378c",
      "name": "When chat message received",
      "webhookId": "9701affb-450f-46a4-b354-8083082dcaee"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        480,
        -176
      ],
      "id": "72710f10-4e17-4305-94a5-3806c9485fe1",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "errorMessage": "Error workflow "
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        480,
        32
      ],
      "id": "d7031a70-8271-4a1d-947c-c20ff0f36a59",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "72fda667-4667-451c-8568-8da92fc9c6a0",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "Ho",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        -64
      ],
      "id": "53d95dfa-0473-459d-b31a-e2adbf6629b3",
      "name": "If"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "VhehzGm4WZOshmQ8",
    "timezone": "Europe/Madrid"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f5bf00e8-38c2-498f-b7b5-d56225c6e41a",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-10-28T09:03:52.533Z",
      "updatedAt": "2025-10-28T09:03:52.533Z",
      "role": "workflow:owner",
      "workflowId": "8K2EhmqaYpOSFNZe",
      "projectId": "PmLBfGR96TQxq1fx"
    }
  ],
  "tags": []
}