workflows/My_workflow_4.json
{
  "createdAt": "2025-10-29T09:46:22.396Z",
  "updatedAt": "2025-10-29T10:10:13.000Z",
  "id": "OTwGU9ocJHepfoUb",
  "name": "My workflow 4",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -96,
        16
      ],
      "id": "18f333d6-45ab-4c2e-b603-867afb4d60da",
      "name": "When chat message received",
      "webhookId": "7e564bd0-dbc4-4b59-b381-cd01c8346fb7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        432,
        -96
      ],
      "id": "a37a15a9-1a33-4acf-8659-8e1c23c83c63",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "errorMessage": "Error workflow "
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        416,
        96
      ],
      "id": "17f724dd-6f65-4a3a-94dd-1166529e39d9",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "41d567d4-35a8-4495-88bc-4e524dea5958",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "Hola",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "ed74cc25-d3e0-49e4-8e70-903afda1ab49",
      "name": "If"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "oOPdMohJOoC01Ukz"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f0c23ef7-c6cd-4857-b9ba-7241ba6e2b91",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-29T09:46:22.398Z",
      "updatedAt": "2025-10-29T09:46:22.398Z",
      "role": "workflow:owner",
      "workflowId": "OTwGU9ocJHepfoUb",
      "projectId": "PmLBfGR96TQxq1fx"
    }
  ],
  "tags": []
}