workflows/Pinecode_Vector_Sotre.json
{
  "createdAt": "2025-10-30T08:06:21.105Z",
  "updatedAt": "2025-10-30T09:11:52.000Z",
  "id": "kqkumhcuIisSigfh",
  "name": "Pinecode Vector Sotre",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1zKTiXh1BG2eY5ppKJ0eri-7y8wh1HIjp",
          "mode": "list",
          "cachedResultName": "N8N UDIA",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1zKTiXh1BG2eY5ppKJ0eri-7y8wh1HIjp"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c77fcddd-8107-4c3a-a7ee-34e488257bc9",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iKFvDuIVeJZZJSBJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "3bdbb2c1-9d41-4c9a-9b07-ce5cd169e055",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iKFvDuIVeJZZJSBJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        224
      ],
      "id": "b794a57e-9ed4-4d83-bac0-78d715b21a54",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "mIhRAmBQtTEjmUoZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragudia",
          "mode": "list",
          "cachedResultName": "ragudia"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        448,
        0
      ],
      "id": "76e3f223-89ad-472f-8fd4-2439c99bea40",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "XPml5KtCSe2YHyms",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        592,
        224
      ],
      "id": "378e711f-1320-41ec-9cca-59e8cb494962",
      "name": "Default Data Loader"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b156682b-586a-4e5b-a3f4-6e63db0bb742",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-30T08:06:21.107Z",
      "updatedAt": "2025-10-30T08:06:21.107Z",
      "role": "workflow:owner",
      "workflowId": "kqkumhcuIisSigfh",
      "projectId": "PmLBfGR96TQxq1fx"
    }
  ],
  "tags": []
}